.robot-wrapper {
  position: relative;
  width: 280px;
  margin: auto;
  &.active {
    animation: wrapper-active-animation 2.5s infinite;
  }
}

// animation
@keyframes wrapper-active-animation {
  0% {
    top: 0;
  }
  50% {
    top: -40px;
  }
  100% {
    top: 0;
  }
}
